@import url('https://fonts.googleapis.com/css?family=Open+Sans|Permanent+Marker');

body{
 margin: 0;
}
div, p, input, button, form, span, a, ul, li{
	box-sizing: border-box;
}
h1{
	margin: 0;
	font-family: 'Permanent Marker', cursive;
}
.header{
	background: url(../img/landscape.png) no-repeat center;
	height: 628px;
	margin: 0 auto;
}
.container{
	width: 1170px;
	margin: auto;
	padding-top: 43px;
	align-self: center;
}
.bar{
	display: flex;
	justify-content: space-between;
	height: 67px;
	background: white;
	border-radius: 67px;
	box-shadow: 0 0 60px #bec1c6;
}
.first{
	display: flex;
	align-items: center;
}
.logo{
	margin-left: 43px;
	height: 39px;
	width: 35px;
	padding-right: 22px;
}
.nav_text{
	text-transform: uppercase;
	color: #31607e;
	padding-left: 35px;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	text-align: center;
}
.second{
	display: flex;
	align-items: center;
	margin-right: 27px;
}
.soc{
	padding-right: 15px;
}
.sign_in{
	padding-right: 27px;
}
.wrapper{
	padding-top: 159px;
	text-align: center;
	color: white;
}
h1{
	font-size: 60px;
	letter-spacing: 5px;
}
.motivation{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.btn{
	width: 105px;
	height: 49px;
	border-radius: 49px;
	background: white;
	border: none;
	margin-top: 30px;
	font-size: 24px;
	color: #3f6b86;
	box-shadow: 0 0 30px #b2bbc8;
}
.end{
	padding-top: 86px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.user{
	align-content: center;
}
.user{
	padding-right: 10px;
}
.make{
	display: flex;
	height: 25px;
	align-items: center;
}
.ticket{
	height: 16px;
}
.make_chall{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: white;
	padding-left: 13px;
}
.second_screen{
	background-color: white;
	margin: 0 auto;
/*	border: 1px solid #2f5f7c;*/
}
.container_2{
	height: 497px;
	width: 1170px;
	margin: 0 auto;
}
.offer{
	text-align: center;
	padding-top: 96px;
	align-items: center;
}
h2{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #2f5f7c;
	padding-top: 54px;
}
.small_text{
	display: flex;
	align-items: center;
	padding-top: 18px;
    justify-content: center;
}
.filters{
	display: flex;
	align-items: center;
	background: #e5e5e5;
	border-radius: 30px;
	height: 30px;
	width: 80px;
	margin-left: 6px;
	margin-right: 14px;
	text-align: center;
	padding-left: 9px;
}
.arrow{
	height: 6px;
	padding-top: 1px;
	padding-left: 8px;
}
.search{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #2f5f7c;
}
.start{
	width: 163px;
	height: 49px;
	border-radius: 49px;
	border: none;
	background-color: #2f5f7c;
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: white;	
	margin-top: 72px;
	box-shadow: 0 0 10px #2f5f7c;
}

/* 992px - 1200px */
@media screen and (min-width: 993px) and (max-width: 1200px){
	.container{
		width: 930px;
	}
	.container_2{
		width: 930px;
	}
}
/* 768px - 992px */
@media screen and (min-device-width: 769px) and (max-device-width: 992px){
	.container{
		width: 690px;
	}
	.nav_text{
		font-size: 12px;
		padding-left: 22px;
	}
	.logo{
		margin-left: 43px;
		height: 29px;
		width: 25px;
		padding-right: 0px;
	}
	.container_2{
		width: 680px;
	}
}

/* 576px - 768px */
@media screen and (min-device-width: 577px) and (max-device-width: 768px){
	.container{
		width: 550px;
	}
	.container_2{
		width: 550px;
	}
	.bar{
		height: 55px;
	}
	.wrapper{
		padding-top: 100px;
	}
	h1{
		font-size: 40px;
	}
	.end{
		justify-content: center;
	}
	.make{
		display: none;
	}
	.first .nav_text{
		display: none;
	}
	.motivation{
		margin-top: 20px;
	}
	.btn{
		margin-top: 100px;
	}
}
/* 320px - 576px */
@media screen and (min-device-width: 320px) and (max-device-width: 576px){
	.container{
		width: 305px;
	}
	.container_2{
		width: 305px;
	}
	.bar{
		height: 45px;
	}
	.logo{
		height: 30px;
		width: 25px;
		margin-left: 25px;
	}
	.wrapper{
		padding-top: 100px;
	}
	h1{
		font-size: 40px;
	}
	.end{
		display: none;
	}
	.first .nav_text{
		display: none;
	}
	.second{
		margin-right: 25px;
	}
	.nav_text{
		font-size: 12px;
		padding-right: 0;
		padding-left: 20px;
	}
	.soc{
		display: none;
	}
	.soc_1{
		display: none;
	}
	.motivation{
		margin-top: 20px;
		font-size: 18px;
	}
	.btn{
		margin-top: 100px;
	}
	.offer{
		padding-top: 80px;
	}
	h2{
		padding-top: 30px;
		font-size: 20px;
	}
	.small_text{
		display: block;
		
	}
	.search{
		font-size: 14px;
	}
	.filters{
		margin: 0 auto;
		margin-top: 5px;
		margin-bottom: 5px;
	}
}